.odd-numbered {
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
    background-color: #FFA7A7;
}

#number-two {
    color: #0000FF;
    font-size: 36px;
}

#number-three {
    font-size: 24px;
}